.venv/

datasets/depression/embeddings/**
datasets/depression/hyperrectangles/**
datasets/depression/perturbations/**
datasets/depression/properties/**
src/__pycache__/**

depression_dataset_reddit_cleaned.csv
Ghofran_F21ZK_FinalProject.ipynb
